<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Overview</h3>
                <p>RobotlegsJS is a architecture-based IoC framework for JavaScript/TypeScript.</p>
                <p>See our <a href="http://robotlegsjs.io/get_started">Get Started</a> guide for a better overview.</p>
            </div>
            <div class="col-sm-6">
                <h3>Motivation</h3>
                <p>There are plenty of frameworks and patterns out there that helps you to write DOM-based applications.
                    There is no scalable solution yet to architecture a canvas-based application though.</p>
                <p>Robotlegs has proven itself of being a mature solution from the ActionScript community for interactive experiences.</p>
            </div>
        </div>
    </div>
</section>