<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">{{ site.title }}</span>
                    <span class="skills">{{ site.description }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="/get_started/" class="btn btn-lg btn-outline btn-primary" style="
            padding: 0.75em 2em;
            border-radius: 2em;"><i class="fa "></i> Get Started </a>
            <a href="https://github.com/RobotlegsJS" class="btn btn-lg btn-outline btn-primary" style="
            padding: 0.75em 2em;
            border-radius: 2em;"><i class="fa fa-github"></i> GitHub </a>
        </div>
    </div>
</header>